In [1]:
import pandas as pd
import numpy as np

In [2]:
villagers = pd.read_csv('villagers.csv')

In [3]:
villagers.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID
0,Admiral,Bird,Male,Cranky,Nature,27-Jan,aye aye,Steep Hill,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,Squirrel,Female,Peppy,Fitness,2-Jul,sidekick,Go K.K. Rider,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,Pig,Female,Big Sister,Play,21-Apr,snuffle,K.K. House,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP
3,Al,Gorilla,Male,Lazy,Fitness,18-Oct,ayyyeee,Go K.K. Rider,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,Alligator,Male,Lazy,Play,9-Jun,it'sa me,Forest Life,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE

# Tidying up the data
## Birthday to date

In [4]:
villagers['Birthday'] = pd.to_datetime(villagers['Birthday'], format = "%d-%b")
villagers['Birthday'] = villagers['Birthday'].apply(lambda dt: dt.replace(year = 2020))

## Gender to number

In [5]:
villagers["Gender"] = villagers["Gender"].replace(["Female", "Male"], [0, 1])

## Changing the Personality to vector values
As the total 8 personality types in the game for villagers are actually split into 4 for each gender, I've decided to refactor the female and male counterparts into the same value. I thought it made more sense to do it this way and "degender" the personality, as we already have a Gender value that we can apply to get the exact Personality.

I decided it'd be an interesting idea to arrange the personality types in a 'spiciness' scale, based on how often these villagers can say something "out of line". Therefore, we have the Normal and Lazy villagers as 'mild' with a value of 0 and Snooty and Cranky villagers with a 'very hot' rating of 3.


| Spiciness/ *Gender*	| Mild - 0 	| Medium - 1   	| Hot - 2    	| Very Hot - 3 	|
|----------------------	|----------	|--------------	|--------------	|--------------	|
| *Female* - 0        	| Normal   	| Peppy      	| Big Sister 	| Snooty       	|
| *Male* - 1          	| Lazy     	| Jock       	| Smug       	| Cranky       	|

In [6]:
villagers["Personality"] = villagers["Personality"].replace(["Normal", "Lazy"], 0)
villagers["Personality"] = villagers["Personality"].replace(["Peppy", "Jock"], 1)
villagers["Personality"] = villagers["Personality"].replace(["Big Sister", "Smug"], 2)
villagers["Personality"] = villagers["Personality"].replace(["Snooty", "Cranky"], 3)

In [7]:
villagers.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID
0,Admiral,Bird,1,3,Nature,2020-01-27,aye aye,Steep Hill,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,Squirrel,0,1,Fitness,2020-07-02,sidekick,Go K.K. Rider,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,Pig,0,2,Play,2020-04-21,snuffle,K.K. House,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP
3,Al,Gorilla,1,0,Fitness,2020-10-18,ayyyeee,Go K.K. Rider,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,Alligator,1,0,Play,2020-06-09,it'sa me,Forest Life,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE

## Changing the Species to numerical values
By default in the games, the 'Cow' and 'Bull' Species are gender exclusive mutually. So the first thing we need to do before anything else is to unify these two into the same Species which I have decided to call 'Cattle'.

In [8]:
villagers["Species"] = villagers["Species"].replace(["Cow", "Bull"], "Cattle")

Once that's done, we need to have a look at how many species of villagers we have in the Animal Crossing universe.

In [9]:
species = sorted(villagers.Species.unique())
print(species)
len(species)

['Alligator', 'Anteater', 'Bear', 'Bird', 'Cat', 'Cattle', 'Chicken', 'Cub', 'Deer', 'Dog', 'Duck', 'Eagle', 'Elephant', 'Frog', 'Goat', 'Gorilla', 'Hamster', 'Hippo', 'Horse', 'Kangaroo', 'Koala', 'Lion', 'Monkey', 'Mouse', 'Octopus', 'Ostrich', 'Penguin', 'Pig', 'Rabbit', 'Rhino', 'Sheep', 'Squirrel', 'Tiger', 'Wolf']

34

It turns that based on our data, that's a total of 34!
Now in order to replace the species with numerical values we just have to create a dictionary with the species as the key and assign a numerical value to each.

In [10]:
species_dict = dict(zip(species, range(len(species))))
print(species_dict)

{'Alligator': 0, 'Anteater': 1, 'Bear': 2, 'Bird': 3, 'Cat': 4, 'Cattle': 5, 'Chicken': 6, 'Cub': 7, 'Deer': 8, 'Dog': 9, 'Duck': 10, 'Eagle': 11, 'Elephant': 12, 'Frog': 13, 'Goat': 14, 'Gorilla': 15, 'Hamster': 16, 'Hippo': 17, 'Horse': 18, 'Kangaroo': 19, 'Koala': 20, 'Lion': 21, 'Monkey': 22, 'Mouse': 23, 'Octopus': 24, 'Ostrich': 25, 'Penguin': 26, 'Pig': 27, 'Rabbit': 28, 'Rhino': 29, 'Sheep': 30, 'Squirrel': 31, 'Tiger': 32, 'Wolf': 33}

However, after I thought this through I realised this made no sense. If I was ranking the Personality on a 'spiciness' scale, why was I just assigning values to the Species arbitrarily (alphabetically)?

I thought it'd make sense if we organised them in a 'phylogenetic tree' kind of way, similar to how New Horizons shows the different villager species in the last room at the Fossil area in the museum. I did a bit of searching online and found this wonderful [Animal Crossing Cladogram] (https://www.reddit.com/r/AnimalCrossing/comments/ffwkvb/i_made_a_cladogram_for_all_the_species_of_the/) by [SaxoLaxo](https://www.reddit.com/user/SaxoLaxo/) on Reddit. 



![cladogram](./cladogram.jpg)


However, for the sake of brevity I'll be simplifying this classification a little bit:

- We'll be using the in-game Species, instead of its irl ones: Queenie (emu), Flora (flamingo), Cranston (crane) and Julia (peacock) will stay as 'Ostrich'.

- Distance between species has been simplified: If going down a branch there's no species in the left sub-branch, the current sub-brach will be ignored and not accounted for.

In [11]:
# species_dict.update({'Octopus': 0, 'Frog': 1, 'Alligator': 2, 'Ostrich': 3, 'Chicken': 4, 'Duck': 5, 'Penguin': 6, 'Eagle': 7, 'Bird': 8, 'Kangaroo': 9, 'Koala': 10, 'Anteater': 11, 'Elephant': 12, 'Gorilla': 13, 'Monkey': 14, 'Rabbit': 15, 'Squirrel': 16, 'Mouse': 17, 'Hamster': 18, 'Pig': 19, 'Hippo': 20, 'Deer': 21, 'Cattle': 22, 'Goat': 23, 'Sheep': 24, 'Horse': 25, 'Rhino': 26, 'Tiger': 27, 'Lion': 28, 'Cat': 29, 'Dog': 30, 'Wolf': 31, 'Cub': 32, 'Bear': 33 })

In [12]:
species_dict.update({'Octopus': .1, 'Frog': .21, 'Alligator': .2211, 'Ostrich':.22121, 'Chicken': .2212211, 'Duck': .2212212, 'Penguin': .2212221, 'Eagle': .22122221, 'Bird': .22122222, 'Kangaroo': .22211, 'Koala': .22212, 'Anteater': .222211, 'Elephant': .222212, 'Gorilla': .22222111, 'Monkey': .22222112, 'Rabbit': .22222121, 'Squirrel': .222221221, 'Mouse': .2222212221, 'Hamster': .2222212222, 'Pig': .222222111, 'Hippo': .2222221121, 'Deer': .22222211221, 'Cattle': .222222112221, 'Goat': .2222221122221, 'Sheep': .2222221122222, 'Horse': .222222121, 'Rhino': .222222122, 'Tiger': .2222222111, 'Lion': .2222222112, 'Cat':.222222212, 'Wolf': .2222222221, 'Dog': .2222222222, 'Cub': .2222222211, 'Bear': .2222222212})

In [13]:
# species_dict.update({'Octopus': .01, 'Frog': .10, 'Alligator': .1100, 'Ostrich':.11010, 'Chicken': .1101100, 'Duck': .1101101, 'Penguin': .1101110, 'Eagle': .11011110, 'Bird': .11011111, 'Kangaroo': .11100, 'Koala': .11101, 'Anteater': .111100, 'Elephant': .111101, 'Gorilla': .11111000, 'Monkey': .11111001, 'Rabbit': .11111010, 'Squirrel': .111110110, 'Mouse': .1111101110, 'Hamster': .1111101111, 'Pig': .111111000, 'Hippo': .1111110010, 'Deer': .11111100110, 'Cattle': .111111001110, 'Goat': .1111110011110, 'Sheep': .1111110011111, 'Horse': .111111010, 'Rhino': .111111011, 'Tiger': .1111111000, 'Lion': .1111111001, 'Cat':.111111101, 'Wolf': .1111111110, 'Dog': .1111111111, 'Cub': .1111111100, 'Bear': .1111111101})

In [14]:
villagers["Species"].replace(species_dict, inplace = True)

In [15]:
villagers.head()

,Name,Species,Gender,Personality,Hobby,Birthday,Catchphrase,Favorite Song,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Filename,Unique Entry ID
0,Admiral,0.221222,1,3,Nature,2020-01-27,aye aye,Steep Hill,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,0.222221,0,1,Fitness,2020-07-02,sidekick,Go K.K. Rider,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,0.222222,0,2,Play,2020-04-21,snuffle,K.K. House,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,pig17,jzWCiDPm9MqtCfecP
3,Al,0.222221,1,0,Fitness,2020-10-18,ayyyeee,Go K.K. Rider,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,0.221100,1,0,Play,2020-06-09,it'sa me,Forest Life,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,crd00,REpd8KxB8p9aGBRSE

In [16]:
spatial_species = {'Octopus': {"x": 3, "z": 3, "y": 0}, 'Frog': {"x": 0, "z": 2, "y": 2}, 'Alligator': {"x": -1, "z": 1, "y": 3}, 'Ostrich': {"x": -2, "z": 0, "y": 5}, 'Chicken': {"x": -2, "z": -1, "y": 6}, 'Duck': {"x": -1, "z": 1, "y": 6}, 'Kangaroo': {"x": -4, "z": 5, "y": 6}, 'Koala': {"x": -5, "z": 4, "y": 6}, 'Anteater': {"x": -4, "z": 3, "y": 6}, 'Elephant': {"x": -2, "z": 4, "y": 6}, 'Penguin': {"x": 1, "z": 1, "y": 7}, 'Eagle': {"x": 2, "z": 1, "y": 7}, 'Bird': {"x": 0, "z": -2, "y": 7},  'Gorilla': {"x": -2, "z": 4, "y": 7}, 'Monkey': {"x": -3, "z": 3, "y": 7}, 'Rabbit': {"x": -4, "z": 5, "y": 7}, 'Squirrel': {"x": -5, "z": 4, "y": 7}, 'Mouse': {"x": -5, "z": 5, "y": 7}, 'Hippo': {"x": 0, "z": 3, "y": 8}, 'Deer': {"x": -2, "z": 0, "y": 8}, 'Rhino': {"x": -2, "z": 3, "y": 8}, 'Tiger': {"x": -5, "z": 3, "y": 8}, 'Lion': {"x": -5, "z": 2, "y": 8}, 'Bear': {"x": -5, "z": -1, "y": 8}, 'Wolf': {"x": -5, "z": -5, "y": 8}, 'Cattle': {"x": -3, "z": 0, "y": 9}, 'Goat': {"x": -3, "z": 1, "y": 9}, 'Sheep': {"x": -2, "z": 1, "y": 9}, 'Horse': {"x": -2, "z": -2, "y": 9}, 'Cat': {"x": -5, "z": 2, "y": 9}, 'Hamster': {"x": -5, "z": 5, "y": 9}, 'Pig': {"x": -1, "z": 2, "y": 9}, 'Dog': {"x": -5, "z": -5, "y": 9}, 'Cub': {"x": -5, "z": -1, "y": 9}}

In [17]:
species_array_dict = {}
for species, location in spatial_species.items():
    new_values = np.array(list(location.values()))
    species_array_dict.update({species: new_values})
print(species_array_dict)
print(type(species_array_dict))

{'Octopus': array([3, 3, 0]), 'Frog': array([0, 2, 2]), 'Alligator': array([-1,  1,  3]), 'Ostrich': array([-2,  0,  5]), 'Chicken': array([-2, -1,  6]), 'Duck': array([-1,  1,  6]), 'Kangaroo': array([-4,  5,  6]), 'Koala': array([-5,  4,  6]), 'Anteater': array([-4,  3,  6]), 'Elephant': array([-2,  4,  6]), 'Penguin': array([1, 1, 7]), 'Eagle': array([2, 1, 7]), 'Bird': array([ 0, -2,  7]), 'Gorilla': array([-2,  4,  7]), 'Monkey': array([-3,  3,  7]), 'Rabbit': array([-4,  5,  7]), 'Squirrel': array([-5,  4,  7]), 'Mouse': array([-5,  5,  7]), 'Hippo': array([0, 3, 8]), 'Deer': array([-2,  0,  8]), 'Rhino': array([-2,  3,  8]), 'Tiger': array([-5,  3,  8]), 'Lion': array([-5,  2,  8]), 'Bear': array([-5, -1,  8]), 'Wolf': array([-5, -5,  8]), 'Cattle': array([-3,  0,  9]), 'Goat': array([-3,  1,  9]), 'Sheep': array([-2,  1,  9]), 'Horse': array([-2, -2,  9]), 'Cat': array([-5,  2,  9]), 'Hamster': array([-5,  5,  9]), 'Pig': array([-1,  2,  9]), 'Dog': array([-5, -5,  9]), 'Cub': array([-5, -1,  9])}
<class 'dict'>

In [18]:
species_df = pd.DataFrame.from_dict(spatial_species, orient = "index")
species_df.head()
print(type(species_df))

species_df.head()

<class 'pandas.core.frame.DataFrame'>

           x  z  y
Alligator -1  1  3
Anteater  -4  3  6
Bear      -5 -1  8
Bird       0 -2  7
Cat       -5  2  9

In [19]:
# As a series
species_series = pd.Series(species_array_dict)
print(species_series)

Octopus        [3, 3, 0]
Frog           [0, 2, 2]
Alligator     [-1, 1, 3]
Ostrich       [-2, 0, 5]
Chicken      [-2, -1, 6]
Duck          [-1, 1, 6]
Kangaroo      [-4, 5, 6]
Koala         [-5, 4, 6]
Anteater      [-4, 3, 6]
Elephant      [-2, 4, 6]
Penguin        [1, 1, 7]
Eagle          [2, 1, 7]
Bird          [0, -2, 7]
Gorilla       [-2, 4, 7]
Monkey        [-3, 3, 7]
Rabbit        [-4, 5, 7]
Squirrel      [-5, 4, 7]
Mouse         [-5, 5, 7]
Hippo          [0, 3, 8]
Deer          [-2, 0, 8]
Rhino         [-2, 3, 8]
Tiger         [-5, 3, 8]
Lion          [-5, 2, 8]
Bear         [-5, -1, 8]
Wolf         [-5, -5, 8]
Cattle        [-3, 0, 9]
Goat          [-3, 1, 9]
Sheep         [-2, 1, 9]
Horse        [-2, -2, 9]
Cat           [-5, 2, 9]
Hamster       [-5, 5, 9]
Pig           [-1, 2, 9]
Dog          [-5, -5, 9]
Cub          [-5, -1, 9]
dtype: object

In [20]:
hobbies = sorted(villagers.Hobby.unique())
print(hobbies)

['Education', 'Fashion', 'Fitness', 'Music', 'Nature', 'Play']